form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

form input {
    margin-bottom: 10px;
}

button {
    width: 100px;
    height: 25px;
    color: #000;
}

container {
    
    width: 70%;
    margin: 0 auto;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}